body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.clearfix {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

div {
  box-sizing: border-box;
}

header {
  background: url(../img/first-bg.jpg) no-repeat center top / cover;
  padding-bottom: 160px;
}

.container {
  width: 930px;
  margin: 0 auto;
}

.logo {
  margin-top: 50px;
  float: left;
}

nav {
  float: right;
  margin-top: 50px;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
}

.menu li:not(:last-child) {
  margin-right: 40px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.menu a:hover {
  color: #fed136;
}

.titles__first {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}

h1 {
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}

.button {
  background: #fed136;
  color: #484543;
  border-radius: 5px;
  display: block;
  width: 240px;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
  opacity: 0.9;
  border: 1px solid transparent;
}

.button:hover {
  opacity: 1;
  border: 1px solid #fff;
}

.title {
  padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.title p {
  color: #777777;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.services {
  margin-top: 50px;
}

#services {
  padding-bottom: 120px;
}

.services__item {
  width: 279px;
  float: left;
  text-align: center;
}

.services__item h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.services__item p {
  font-size: 14px;
  color: #777777;
  line-height: 1.6em;
}

.services__item:last-child {
  float: right;
}

.services__item:nth-child(2) {
  margin-left: 45px;
}

#portfolio {
  background: #e9e8e8;
  padding-bottom: 120px;
}

.works {
  margin-top: 70px;
}

.works img {
  float: left;
}

.works img:hover {
  box-shadow: 0 3px 4px 2px #777777;
}

.works img:nth-child(2) {
  margin-left: 30px;
}

.works img:last-child {
  float: right;
}

footer {
  background-color: #2e2d2d;
  padding: 25px 0;
  color: #f0efef;
  text-align: center;
}
